.elemento-form{
  display: block;
  margin: 10px 0 10px 0;
  border-bottom: 2px solid rgb(165, 209, 175);
  max-width: 175px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 227, 247);
}

.elemento-form label {
  display: block;
  margin-bottom: 5px;
}

.elemento-form input {
  margin-bottom: 5px;
}

.elemento-form select {
  margin-bottom: 5px;
}

section {
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  
}

section form {
  border-radius: 6px;
  padding: 10px;
  align-items: center;
  background-color: white;
  min-width: 310px;
}


fieldset {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

h1 {
 text-align: center;
}

.container-form {
  
  display: flex;
  margin: auto;
}

.elemento-form input {
  border: #5c5252 solid 1px;
}

.button-form {
  display: flex;
  justify-content: space-between;
}

.checkbox-item {
  display: flex;
}

.required::after {
  content: " *";
  font-weight: bold;
}