#dados-cadastro {
  background-color: rgb(230, 229, 229);
  border: 1px solid black;
  
}

#dados-cadastro div {
  padding-left: 30px;
}
#dados-obrigatorios {
  background-color: rgb(132, 132, 247);
}

.dados-basicos {
  background-color: gray;
}

li {
  list-style: none;
}

